footer.site-footer {
	background: $dark-grey-color;
	color: white;
	margin-top: 100px;
	overflow: hidden;
	position: relative;
	.bandeau-toulousaine {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -8px;
		&-col-gotosite, &-col-contact {
			margin: 20px 0;
			padding: 0 8px;
		}
		//col contact
		&-col-contact {
			display: flex;
			flex: 0 0 60%;
			flex-wrap: wrap;
		}
		&-adresse, &-phone, &-social {
			flex: 0 0 auto;
			padding: 0 8px;
		}
		&-social {
			flex: 0 0 100%;
			max-width: 100%;
			a {
				transition: opacity 0.3s ease;
				&:hover {
					opacity: 0.6;
					transition: opacity 0.3s ease;
				}
			}
		}
		&-phone {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			font-size: 14px;
			line-height: 18px;
			margin-left: 40px;
			&-picto {
				height: 35px;
				width: 35px;
			}
			&-content {
				border-left: 1px solid white;
				margin-left: 8px;
				padding-left: 8px;
				span {
					display: block;
				}
			}
		}
		&-social {
			display: flex;
			flex-wrap: wrap;
			font-size: 11px;
			line-height: 13px;
			margin: 0 -8px;
			&-youtube, &-reseaux {
				align-items: center;
				display: flex;
				margin: 8px 0;
				padding: 0 8px;
			}
			&-youtube {
				align-items: center;
				color: white;
				display: flex;
				font-size: 11px;
				font-weight: normal;
				line-height: 13px;
				img {
					height: 20px;
					width: 47px;
				}
			}
			&-reseaux {
				&-icon {
					height: 20px;
					width: 20px;
				}
				li {
					display: inline-block;
					margin: 0 2px;
				}
			}
		}

		address {
			font-style: normal;
			font-size: 11px;
			line-height: 13px;
			text-transform: uppercase;
			span {
				display: block;
				margin: 4px 0;
			}
		}

		//col gotosite
		&-col-gotosite {
			align-self: flex-start;
			flex: 0 0 40%;
			.lien-site-toulousaine {
				text-align: right;
				a {
					color: white;
					display: inline-block;
					position: relative;
					z-index: 999;
					&:after {
						background-image: url(img/double-arrow-right.svg);
						background-repeat: no-repeat;
						content:"";
						display: inline-block;
						height: 28px;
						margin-left: 10px;
						position: relative;
						@include transition( margin-left .3s ease);
						top: -4px;
						width: 34px;
					}
					&:hover {
						&:after {
							margin-left: 5px;
						}
					}
					div {
						display: inline-block;
					}
					span {
						display: block;
						@include fontSize(14px);
						font-weight: 700;
						text-align: right;
						&:first-child {
							@include fontSize(16px);
							font-weight: 400;
							text-transform: uppercase;
						}
						&:last-child {
							position: relative;
							top: -5px;
						}
					}
				}
			}
		}
	}
}

footer.site-footer{	
	.copyright {
		background: $dark-grey-color;
		color: $white;
		@include fontSize(12px);
		padding: 20px 0;
		position: relative;
		text-align: center;
		z-index: 2;
		a {
			color: $white;
			font-weight: normal;
			text-decoration: underline;
		}
		.signature {
			text-decoration: none !important;
		}
	}
}









