header.site-header section .container-page {
	align-items: center;
	display: flex;
	position: relative;
}

header.site-header {
	background-color: $white;
	position: relative;
	.container-page:first-child {
		background-color: white;
	}
}


section#image_head {
		min-height: 145px;
		background-image: url(img/image-header-interieur.jpg);
		background-color: $light-grey-color;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		margin-bottom: 50px;
		.container-page {
			align-items: center;
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			position: relative;
			&:after {
				background-color: $green-color;
				bottom: -2px;
				content: "";
				height: 3px;
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				width: calc(100% - 30px);
			}
			.container {
				flex: 0 0 100%;
				max-width: 100%;
				#fil-ariane {
					#breadcrumbs {
						@include fontSize(12px);
						margin: 0;
						a, span {
							color: $dark-grey-color;
							@include fontSize(12px);
							text-decoration: none;
							font-weight: normal;
							&:hover {
								color: $green-color;
							}
						}
						.breadcrumb_last {
							display: none;
						}
					}
				}
				h2.entry-title {	
					margin: 10px 0;
					text-transform: uppercase;
					@include fontSize(24px);
				}				
			}
		}
}

body.home {
	section#image_head {
		margin-bottom: 50px;
	}
}

header h1.logo-toulousaine {
	height: 100px;
	padding-right: 40px;
	position: relative;
	a {
		align-items: center;
		display: flex;
		height: 100%;
		img {
			max-width: 170px;
			position: relative;
		}
	}
}

header {
	.header-contact {
		align-items: center;
		display: flex;
		margin-left: auto;
		div {
			margin-right: 20px;
			padding-top: 5px;
			span {
				display: block;
				@include fontSize(14px);
				font-weight: 700;
				text-align: right;
				&:first-child {
					@include fontSize(16px);
					font-weight: 300;
					margin-bottom: 4px;
					text-transform: uppercase;
				}
				&:last-child {
					position: relative;
					top: -5px;
				}
			}
		}
	}
}

