.container-page{
	max-width: 960px;
	padding: 0 10px;
	margin:  0 auto;
	width: 100%;
}

body > .container-page {
	flex: 1 0 100%;
}


.icon-angle-left {
	background: url(img/back.svg);
	background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
	margin-right: 8px;
	position: relative;
	width: 5px;
}
