.back-navigation {
	margin: 0 0 40px;
	a {
		color: #8b8b8b;
		@include fontSize(14px);
		font-weight: normal;
		text-decoration: underline;
		@include transition(color .3s ease);
		&:hover {
			color: $dark-green-color;
		}
	}
}

