.produits-container {
	h2 {
		font-family: $font-secondary;
		@include fontSize(26px);
		font-weight: 300;
		line-height: 30px;
		margin: 0 0 40px;
		span {
			color: $green-color;
			display: block;
			font-weight: 700;
		}
	}
}

#liste_produits {
	font-size: 0;
	margin: 0 -10px;
	.cat-item-container {
		box-sizing: border-box;
		display: inline-block;
		padding: 10px;
		vertical-align: top;
		width: 33.3333%;
		.cat-item {
			border: 1px solid;
			border-color:  $border-grey-color;
			position: relative;
			margin-bottom: 50px;
			a {
				color: $dark-grey-color;
				text-decoration: none;
				&:hover {
					color: $dark-green-color;
					.icon-angle-right {
						margin-right: 4px;
					}
				}
			}
			figure {
				overflow: hidden;
				img {
					display: block;
					height: auto;
					margin: 0 auto;
					@include transition(transform .3s ease);
				}				
			}
			div {
				align-items: baseline;
				background-color: $light-grey-color;
				border: 1px solid;
				border-color:  $border-grey-color;
				bottom: -50px;
				display: flex;
				@include fontSize(14px);
				line-height: 18px;
				left: -1px;
				padding: 15px;
				position: absolute;
				right: -1px;
			}
		}
	}	
}


.cat-item-container a:hover {
	figure {
		img {
			transform: scale(1.05);
		}
	}
}
