#liste_liens {
	display: block;
	margin: 0;
	max-width: 600px;
	position: relative;
	z-index: 1;
	li {
		margin: 25px 0;
   		max-width: 100%;
   		padding: 0;
		a {
			background-color: $white;
			border: 1px solid $border-grey-color;
			border-radius: $border-radius;
			color: $dark-grey-color;
			display: flex;
			padding: 14px 18px;
			text-decoration: none;
			@include transition(border-color .3s ease);
			&:hover {
				border-color: $green-color;
				color: $green-color;
				.icon-angle-right {
					margin-right: 5px;
				}
			}
			.icon-angle-right {
				color: $green-color;
				font-size: 12px;
				margin-right: 9px;
				margin-top: 5px;
				@include transition(margin-right .3s ease);
			}
		}
	}
}

.questions-container {
	border-top: 1px solid $border-grey-color;
	margin-top: 30px;
	padding-top: 30px;
	#liste_liens {
		margin-top: 15px;
	}
}