#wpadminbar #wp-toolbar #wp-admin-bar-doc_mv {
}

#wpadminbar #wp-toolbar #wp-admin-bar-doc_mv > .ab-item {
    background-color: darkcyan;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0 20px;
    padding: 0 20px;
}

#wpadminbar #wp-toolbar #wp-admin-bar-doc_mv:hover > .ab-item {
    background-color: #0a6d6c;
    color: white;
}

#wpadminbar #wp-toolbar #wp-admin-bar-doc_mv:hover > .ab-item .ab-icon:before {
    color: white;
}

#wpadminbar #wp-toolbar #wp-admin-bar-doc_mv .ab-item .ab-icon:before {
    content: '\f331';
    top: 3px;
}