.big-txt {
	color: $dark-green-color;
	font-family: $font-secondary;
	@include fontSize(20px);
	line-height: 26px;
	margin-bottom: 30px;
	margin-top: 0;
	font-weight: 600;
}

.notice-container {
	.notice-header {
		display: flex;
		flex-wrap: wrap;
		.notice-telecommande, .notice-outils {
			flex: 0 0 50%;
			.big-txt {
				margin-top: 0;
			}
		}
		.notice-telecommande {
			padding-right: 30px;
		}
	}
}

.pointer-events-none {
	pointer-events: none;
}


.notice-content {
	.notice-etape-row {
		border-top: 2px solid $light-grey-color;
		margin: 50px 0;
		padding: 50px 0 0;
		h2 {
			margin-bottom: 45px;
		}
		&:last-child {
			border-bottom:  2px solid $light-grey-color;
		}
	}
}

.notice-etape-row {

	.notice-sous-etape-row {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		margin: 30px 0;
		padding: 0;		
		.image-container {
			flex: 0 0 30%;
			padding: 0 15px;
			text-align: center;
		}
		.txt-container {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			flex: 1 0 70%;
			padding: 0 15px;
			h1, h2, h3, h4, h5, h6 {
				display: block;
			}
			ul {
				list-style-type: disc;
			}
			p {
				flex: 0 0 100%;
				a {
					color: $dark-green-color;
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.responsive-container {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 0px;
				height: 0;
				overflow: hidden;
				width: 100%;
			}			
			.responsive-container iframe,
			.responsive-container object,
			.responsive-container embed,
			.responsive-container video
			{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.btn-container {
			display: flex;
		    align-items: center;
		    flex-wrap: wrap;
    		flex: 0 0 70%;
    		padding: 0 15px;
		}
	}

}

.notice-footer {
	.notice-footer-oui-non-container {
		margin: 20px 0;
		.btn-yes-no-container {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -8px;
			a {
				border-radius: 10px;
				color: white;
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				max-width: 320px;
				margin: 4px;
				padding: 10px 30px;
				text-align: center;
				@include transition(background-color .3s ease);
				width: 50%;
				&.yes {
					background-color: #a2c138;
					&:hover {
						background-color: $dark-green-color;
					}
				}
				&.no {
					background-color: #e21414;
					&:hover {
						background-color: #860e0e;
					}
				}
				span {
					display: block;
					font-style: italic;
					font-weight: normal;
					@include fontSize(14px);
				}
			}
		}
	}
}

.notice-termine-container {
	background-color: $light-grey-color;
	border: 1px solid $border-grey-color;
	border-radius: 10px;
	margin: 20px 0;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	@include fontSize(20px);
	a {
		text-decoration: underline;
	}
}