$green-color: #00a0df;
$dark-green-color: #00a0df;
$dark-grey-color: #507587;
$dark-blue-color: #00a0df;
$light-grey-color: #ecf2f5;
$border-grey-color: #e1dfdf;
$border-hover: #a6a6a6;
$white: #fff;
$black: #000;

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot');
  src:  url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eveno:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-arrow-next:before {
  content: "\e904";
}
.icon-tel:before {
  content: "\e905";
}
.icon-book:before {
  content: "\e906";
}
.icon-questions:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}



$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-icon: 'icomoon';

$border-radius: 10px;



//BASE 
@import "base/mixin";
@import "base/base";

@import "layout/header";
@import "layout/footer";
@import "layout/page";

@import "themes/home";
@import "themes/notice";
@import "themes/sitemap";

@import "modules/liste-produits";
@import "modules/liste-liens";
@import "modules/back-navigation";

@import "states/media-queries";
