/*! =Media Queries
-------------------------------------------------------------- */


/* 955px ********************************************************/
@media only screen and (max-width: 955px) {

	footer.site-footer {
		.bandeau-toulousaine {
			&-col-gotosite {
				.lien-site-toulousaine {
					a {
						span {
							&:first-child {
								font-size: 14px;
							}
							&:last-child {
								font-size: 12px;
							}						
						}
					}
				}
			}
		}
	}


}
 



/* 956-768px ********************************************************/
@media only screen and (min-width: 768px) and (max-width: 959px) {
 

}
 
/* 767 ********************************************************/
@media only screen and (max-width: 767px) {
 
	.site-header {
		.header-contact {
			div {
				display: none;
			}
		}
	}

	body.home {
		section#image_head {
			margin-bottom: 20px;
		}
	}

	section#image_head {
		margin-bottom: 20px;
		.container-page {
			.container {
				h2.entry-title {
					@include fontSize(20px);
					line-height: 22px;
				}				
			}
		}

	}

	footer.site-footer {
		margin-top: 40px;
		.bandeau-toulousaine {
			&-col-gotosite, &-col-contact {
				flex: 0 0 100%;
				justify-content: center;
			}
			&-col-gotosite {
				order: 1;
				.lien-site-toulousaine {
					text-align: center;
				}
			}
			&-col-contact {
				order: 2;				
			}
			&-social {
				justify-content: center
			}
		}
	}

	.produits-container {
		h2 {
			@include fontSize(20px);
			line-height: 23px;
			margin: 0 0 10px;
		}
		#liste_produits {
			.cat-item-container {
				width: 50%;
			}
		}
	}


	.notice-container {
		.notice-header {
			.notice-telecommande, .notice-outils {
				flex: 0 0 100%;				
				text-align: center;
			}
			.notice-outils {
				margin-top: 20px;
			}
			.notice-telecommande {
				padding: 0;
			}
		}
	}


	.notice-etape-row {	
		.notice-sous-etape-row {		
			.image-container {
				flex: 1 0 50%;
				overflow: hidden;
			}
			.txt-container {
				flex: 1 0 50%;
				overflow: hidden;
			}
		}
	
	}

	.notice-content {
		.notice-etape-row {
			h2 {
				@include fontSize(20px);
				margin-bottom: 45px;
			}
		}
	}

	.notice-footer {
		.notice-footer-oui-non-container {
			a {
				display: block;
				margin: 20px 0;
				min-height: 42px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

}

 
/* 479px ********************************************************/
@media only screen and (max-width: 479px) {

header {
	.header-contact {
		display: none;
	}
	h1.logo-toulousaine {
		margin: auto;
		padding-right: 0;
	}
}


#fil-ariane {
	display: none;
}

section#image_head {
	.container-page {
		.container {
			h2.entry-title {
				@include fontSize(17px);
				line-height: 20px;
			}				
		}
	}

}

.notice-etape-row {	
	.notice-sous-etape-row {		
		.image-container, .txt-container {
			flex: 0 0 100%;
			overflow: hidden;
			padding: 0;
		}
	}

}


.produits-container {
	#liste_produits {
		text-align: center;
		.cat-item-container {
			width: 100%;
		}
	}	
}

.notice-container {
	.notice-content {
		.notice-etape-row {
			.notice-sous-etape-row {
				overflow: visible;
				.image-container {
					order: 2;
				}
				.txt-container {
					order: 1;
					overflow: visible;
				}
			}
		}
	}
}

.notice-footer {
	.notice-footer-oui-non-container {
		.btn-yes-no-container {
			a {
				max-width: none;
				padding: 15px 20px;
				width: 100%;
			}
		}
	}
}

footer.site-footer {
	.bandeau-toulousaine {
		&-adresse, &-phone, &-social {
			flex: 0 0 100%;
			justify-content: center;
			margin: 8px 0;
			text-align: center;
		}
		&-phone {
			margin-left: 0;
			&-picto {
				display: none;
			}
			&-content {
				border-left: 0;
				margin: 0;
				padding: 0;
			}
		}
		&-social {
			&-youtube, &-reseaux {
				font-size: 0;
			}
			&-reseaux {
				li {
					margin: 0 8px;
				}
			}
		}
	}
}


}