html {
	font-size: 100%;
}


body {
	color: $dark-grey-color;
	display: flex;
	flex-direction: column;
	font-family: $font-primary;
	@include fontSize(16px);
	min-height: 100vh;
}


a {
	color: $dark-blue-color;
	cursor: pointer;
	font-weight: 700;
	@include transition(opacity .3s ease);

	&:hover{
		color: $dark-blue-color;
		opacity: 0.7;
	}
}


a.button {
	background-color: $dark-blue-color;
	border: none;
	border-radius: $border-radius;
	color: $white;
	cursor: pointer;
	display: block;
	opacity: 1;
	font-size: 14px;
	padding: 12px 25px;
	text-decoration: none;
	@include transition(opacity .3s ease);

}

a:hover {
	opacity: 0.7;
	@include transition(opacity .3s ease);
}

button, .wpcf7-submit {
	background-color: $dark-blue-color;
	border: none;
	border-radius: $border-radius;
	color: $white;
	cursor: pointer;
	@include transition(background-color .3s ease);
	&:hover {
		background-color: $green-color;
		a {
			color: $white;
		}
	}
	a {
		color: $white;
		display: block;
		padding: 15px 25px;
		text-decoration: none;
	}
}



figure {
	margin: 0;
}


h1, h2 {
	margin: 0;
}

h2 {
	font-family: $font-secondary;
	font-weight: 600;
}

.icon-angle-right {
	color: $green-color;
	font-size: 12px;
	margin-right: 4px;
	@include transition(margin-right .3s ease);
}

.img-responsive {
	display: block;	
	height: auto;
	max-width: 100%;
	width: 100%;
}

p {
	color: $dark-grey-color;
	@include fontSize(16px);
	line-height: 24px;
}

#primary {
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.screen-reader-text {
	display: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.z-index-max {
	z-index: 9999;
}

.entry-content {
	color: $dark-grey-color;
	line-height: 24px;
}